PORT=5000
MONGODB_URI=mongodb://vaidikrokad_db_user:Qqsos1c0xP2TWL4A@ac-pchdvcb-shard-00-00.w6fslxv.mongodb.net:27017,ac-pchdvcb-shard-00-01.w6fslxv.mongodb.net:27017,ac-pchdvcb-shard-00-02.w6fslxv.mongodb.net:27017/?ssl=true&replicaSet=atlas-op17oo-shard-0&authSource=admin&appName=all
MONGODB_DB_NAME=HR
JWT_SECRET=your_jwt_secret_key_here_change_in_production
JWT_EXPIRE=24h
NODE_ENV=development
CLIENT_URL=http://localhost:3000
